@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Radio Canada";
    background-image: url(./IMG/chiefkeef.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100vh;
}

.header {
    background: #5D576B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 100px;
    margin: 5px;
    margin-top: 10px;
    box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
}

.logo {
    height: 90%;
}

.nav-list {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    list-style: none;
}

.items {
    background-color: black;
    color: #5D576B;
    border-radius: 40px;
    padding: 15px;
}

.links:hover {
    text-decoration: line-through;
    transform: scale(1.3);
    transition: all 0.5s;
}

.container-divs {
    display: flex;
    background-color: #5D576B;
    border-radius: 60rem;
    height: 55vh;
    margin: 50px;
    margin-top: 50px;
    box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
}

.info {
    margin: 8rem;
    font-size: 25px;
}

.info-img {
    border-radius: 10rem;
    margin-top: 10px;
    margin-right: 205px;
    box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    height: 520px;
}  

.botones {
    display: flex;
    gap: 50px ;
}

.link-botones {
    display: flex;
    align-items: center;
    background-color: black;
    color: #5D576B;
    border-radius: 50px;
    padding:55px;
    height: 50px;
    margin-top: 50px;
    margin-left: 80px;
    box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
}

.link-botones:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.info2 {
    margin: 50px;
    background-color: #5D576B;
    font-size: 25px;
    border-radius: 50px;
    padding: 15px;
    box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 18px 6px rgba(0,0,0,0.75);
}